/* RESET DE MARGENES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contentAllPost {
  min-height: 100vh;
  padding: .5rem;
  text-align: center;
  display: table;
  border-right: solid .1rem #E6E6E6;
}

.contentCreateNewNote {
  height: 100vh;
  padding: .5rem;
  text-align: center;
}

/* BARRA DE NAVEGACION */
header {
  background-color: #E6E6E6;
  border-bottom: solid .2rem #58ACFA;
}

header h1 {
  display: inline-block;
  margin: auto 4rem;
  vertical-align: middle;
}

/* LOGO DE LA NAV */
.App-logo-image {
  width: 5rem;
  height: 4rem;
  position: relative;
  right: -2rem;
}

.createNote {
  width: 20rem;
  margin: 1rem;
  padding: .7rem;
  text-align: center;
  border: solid .1rem blue;
  border-radius: .5rem;
}

.card {
  width: 18rem;
  margin: 1rem;
  padding: .7rem;
}