/* RESET DE MARGENES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.createNote {
  width: 20rem;
  margin: 1rem;
  padding: .7rem;
  text-align: center;
  border: solid .1rem blue;
  border-radius: .5rem;
}

.card {
  width: 18rem;
  margin: 1rem;
  padding: .7rem;
}